.react_root{
    width: 90%;
    margin-left: 5%;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: serif;
    color: black;
    background-color: #EFF8FB;
}

.marquee{
    background-color: red;
    display: flex;
    width: 100%
}

.footer{
    margin-top: 16em;
    margin-bottom: 4em;
    border: solid black;
}
.footer p{
    margin: 20px;
}

.livefeedicon{
    display: inline-block;
    max-height: 3em;
    margin-left: 2px;
}

.livefeedTitler{
    -webkit-animation: marquee 20s linear infinite;
    -o-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
    color: #eeeeee;
    padding-left: 100%;
    padding-right: 10em;
    font-size: 130%;
    margin-top: 0.4em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: text-bottom;

}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }

}
.midmarquee{
    width: 100%;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marqdate{
    margin-top: 0.5em;
    font-size: 74%;
    margin-left: 1em;
    vertical-align: text-bottom;
}
.marqtitle{
    margin-left: 5px;
}